In [1]:
from fyenn_class import  pd_loaddata, pd, np 
from datetime import datetime, timedelta

path = '../data_down/'
os.listdir(path)

['gar.xlsx',
 'huaweiout.csv',
 'huawei_daily.csv',
 'Outsourcing_Name_List_20220119104910.csv',
 'Outsourcing_Name_List_20220119104910.xlsx',
 '业务量与部门关系表_20220119104837.csv',
 '业务量与部门关系表_20220119104837.xlsx',
 '入湖数据关系.csv',
 '入湖数据关系.xlsx']

In [2]:
rel = pd_loaddata.pd_excel(path + '业务量与部门关系表_20220119104837', 0)
ls = pd_loaddata.pd_excel(path + 'Outsourcing_Name_List_20220119104910', 0)
ls = ls.drop(['员工类别', '更新时间'], axis = 1)

csv_read
csv_read

In [10]:
(datetime.now() + timedelta(days=-1)).strftime('%Y%m%d')

'20220119'

In [17]:
df = ls.merge(rel, on = ['站点', '部门'], how = 'outer')

In [27]:
# df = df[~df['姓名'].isna()]
nass = df[df['姓名'].isna()];nass

       工号   姓名   岗位      站点 成本中心         部门  对应现有看板指标      效率指标名称    OU（成本中心）
3418  NaN  NaN  NaN      坪山  NaN         关务   按条发货-坪山    发货人效——坪山  HONORSZIHS
3419  NaN  NaN  NaN      坪山  NaN         OE   按条发货-坪山    发货人效——坪山  HONORSZIHS
3420  NaN  NaN  NaN  嘉达贵安仓配  NaN  贵安仓配3#点料室    贵阳仓配趟数      贵阳仓配人效  HUAWEDGTRD
3421  NaN  NaN  NaN   C9原材料  NaN       终端交付  按条发货-原材料  发货人效——华为终端  HUAWEDHW4S
3422  NaN  NaN  NaN      嘉达  NaN         内控  按条发货-原材料  发货人效——华为终端  HUAWEDHW4S

In [43]:
df

,工号,姓名,岗位,站点,成本中心,部门,对应现有看板指标,效率指标名称,OU（成本中心）
0,GB6635,王曼,NaN,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
1,GB6235,彭礼强,初级仓管员,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
2,GB6138,杨健,初级仓管员,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
3,GB6100,王茜,高级仓管员,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
4,GB5954,王书祥,营运管理助理,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
...,...,...,...,...,...,...,...,...,...
3418,NaN,NaN,NaN,坪山,NaN,关务,按条发货-坪山,发货人效——坪山,HONORSZIHS
3419,NaN,NaN,NaN,坪山,NaN,OE,按条发货-坪山,发货人效——坪山,HONORSZIHS
3420,NaN,NaN,NaN,嘉达贵安仓配,NaN,贵安仓配3#点料室,贵阳仓配趟数,贵阳仓配人效,HUAWEDGTRD
3421,NaN,NaN,NaN,C9原材料,NaN,终端交付,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S
3422,NaN,NaN,NaN,嘉达,NaN,内控,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S

In [50]:
os.getcwd()

'c:\\Users\\dscshap3808\\Documents\\my_scripts_new\\play11_huawei\\script'

In [51]:
df[df['效率指标名称'].isna()] [['站点', '部门']].drop_duplicates().to_csv('../data_up/no_eff_ind.csv', index = None)

In [ ]:
SELECT  b.emp_name
       ,b.emp_type
       ,b.site_name
       ,b.dept
       ,c.mapping_no
       ,eff_index_name
       ,cost_center
       ,ou_code
FROM dsc_dim.dim_dsc_huawei_os_name_list_rel b
LEFT JOIN
(
	SELECT  mapping_no
	       ,site
	       ,dept
	       ,eff_index_name
	       ,ou_code
	FROM ods_public.huawei_opt_dept_mapping
	WHERE inc_day = '20220118'
	GROUP BY  mapping_no
	         ,site
	         ,dept
	         ,eff_index_name
	         ,ou_code
) c
ON b.cost_center = c.ou_code AND b.site_name = c.site
WHERE inc_day = '20220118'
ORDER BY emp_name

In [19]:
pd.read_clipboard(sep = '\001')['site_name'].str.extractall('(\t)').reset_index()

     level_0  match   0
0          3      0  \t
1          3      1  \t
2          3      2  \t
3          4      0  \t
4          4      1  \t
..       ...    ...  ..
154       54      1  \t
155       54      2  \t
156       55      0  \t
157       55      1  \t
158       55      2  \t

[159 rows x 3 columns]

In [23]:
ppl_cnt  =pd.read_clipboard(header =None)

In [26]:
ppl_cnt = ppl_cnt[[2,1,3,0]]
ppl_cnt.columns = ['cc', 'site', 'dept','head_cnt']

In [36]:
os.getcwd()

ppl_cnt.to_csv('../data_up/head_cnt_onccsite.csv', index = None, encoding = 'utf_8_sig')

---
# 权限控制

In [55]:
os.listdir('../data_up')

['authen_cc_level_cfg.csv',
 'authen_huawei.csv',
 'head_cnt_onccsite.csv',
 'no_eff_ind.csv']

In [92]:
auth = pd_loaddata.pd_excel('../data_down/huawei_authen', 0)

csv_read

In [94]:
auth = auth.melt(id_vars = '邮箱').drop('variable', axis = 1).dropna(subset=['value']).sort_values('邮箱')\
    # .to_csv('../data_up/authen_huawei.csv', sep = '\t', header = None, index = None)

In [87]:
df = pd.read_csv('../data_up/authen_cc_level_cfg.csv', sep = '\x01', header = None )

In [90]:
df

                         0  1           2     3
0                    admin  1           *   NaN
1     arthur.ji@sf-dsc.com  0         NaN  Auto
2    simon.ping@sf-dsc.com  0         NaN    CR
3    william.qi@sf-dsc.com  0         NaN    EM
4    linus.wong@sf-dsc.com  0         NaN    HK
..                     ... ..         ...   ...
96    suzie.Xie@sf-dsc.com  0  HUAWEDGNHS   NaN
97      bill.xu@sf-dsc.com  0  NEXPEDGWHS   NaN
98    suzie.Xie@sf-dsc.com  0  NEXPEDGWHS   NaN
99      bill.xu@sf-dsc.com  0  TYCOTSDXXS   NaN
100   suzie.Xie@sf-dsc.com  0  TYCOTSDXXS   NaN

[101 rows x 4 columns]

In [96]:
auth.columns = [0,2]

In [99]:
df = pd.concat([df, auth],axis = 0).drop_duplicates()

In [100]:
df.to_csv('../data_up/authen_cc_all.csv', sep = '\t', header = None, index = None)