In [404]:
import os
from fyenn_class import  pd_loaddata, pd, np 
from datetime import datetime, timedelta

path = '../data_down/'
os.listdir(path)

['dwd_dsc_huawei_working_hour_dtl_di.csv',
 'gar.xlsx',
 'huaweiout.csv',
 'Outsourcing_Name_List_20220119104910.csv',
 'Outsourcing_Name_List_20220119104910.xlsx',
 '业务量与部门关系表_20220119104837.csv',
 '业务量与部门关系表_20220119104837.xlsx',
 '入湖数据关系.csv',
 '入湖数据关系.xlsx']

In [405]:
a = 'abc'
b = None
("%s - %s" if (a and b) else "%s%s") % (a,b)

'abcNone'

In [406]:
"%s - %s" % (a,b) if (a and b) else (a or b)

'abc'

In [407]:
' - '.join(filter(bool, (a,b)))

'abc'

In [408]:
ls = ('HUAWEDHW4S,HONORDGHMS,HUAWEDHWTS,HUAWEDGTRD,HUAWEDGLSS,HUAWEDHW1S,HUAWEDGNHS,NEXPEDGWHS,TYCOTSDXXS,HONORSZIHS').split(',')

In [409]:
# '{note:=>50}'.format(note='Lorem') + '{note:=>50}'.format(note='')


# rel 
huawei_output = pd_loaddata.pd_csv(path + 'huaweiout.csv')
huawei_output = pd_loaddata.bdp_col(huawei_output)
huawei_output = huawei_output[huawei_output['rn'].astype(int) == 1]

In [410]:
col = 'update_date'
huawei_output[col] = huawei_output[col].astype(str).str.slice(0,10)
huawei_output = pd.concat([huawei_output.reset_index(), pd.DataFrame(list(huawei_output[col].str.split('-')))], axis =1)

In [411]:
def printer(*args):
    [print( '{note:~>25}'.format(note = i)) for i in args]

printer(col, col)

~~~~~~~~~~~~~~update_date
~~~~~~~~~~~~~~update_date

In [412]:
%%time
# huawei_output = pd_loaddata.pd_csv(path + 'huawei_output.csv')
# huawei_output = huawei_output[huawei_output['rn'].astype(int) == 1]

# huawei_daily = pd_loaddata.pd_csv(path + 'huawei_daily.csv')
# rel = pd_loaddata.pd_excel(path + '入湖数据关系', 0)
# huawei_output.shape
# pd_loaddata.pd_show(15, None)
# rel = rel.drop(['部门', '站点'],axis = 1).drop_duplicates();rel


def datetime_(coach, col):
        """
        detail time to date; 
        split and assign to 3 cols of year m d
        """
        coach[col] = coach[col].astype(str).str.slice(0,10)
        # 20220110
        coach = pd.concat([coach.reset_index(drop = True), pd.DataFrame(list(coach[col].str.split('-')))], axis =1) 
        coach = coach[coach[[0,1,2]].fillna(0).astype(int).sum(axis = 1) != 0] # 年月日三列
        coach = coach.rename({0:'year', 1:'month', 2: 'date'}, axis=1)
        return coach

huawei_output = datetime_(
    coach=huawei_output, col='update_date'
    ).drop(['create_time', 'update_time'], axis = 1).drop_duplicates().sort_values('update_date')
 
def search_col(df, str):
    """
    列名正则搜索.
    """
    return list(pd.Series(df.columns)[pd.Series(df.columns).str.match(str)])
# 识别异常列名
tran_col = list(pd.Series(huawei_output.columns)[
    pd.Series(huawei_output.columns).str.contains(
        '(receive|psn|send|transport_times|update_date|year|month|date|id)'
        ) == False
        ])
# clean , case, withdraw)

Wall time: 129 ms

In [413]:
pd.Series(huawei_output.columns)[pd.Series(huawei_output.columns).str.contains('t4\_')]
huawei_output

,index,update_date,origin_receive,origin_send,origin_psn,hongmei_receive,hongmei_send,hongmei_psn,pingshan_receive,pingshan_send,...,pre_receive,pre_withdraw,honor_transport_times,rn,year,month,date,year,month,date
0,0,2020-12-31,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,2020,12,31,2020,12,31
1,64,2021-01-01,117.0,93.0,NaN,14.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,2021,01,01,2021,01,01
2,128,2021-01-02,989.0,882.0,NaN,146.0,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,2021,01,02,2021,01,02
3,192,2021-01-03,2143.0,9705.0,NaN,176.0,82.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,2021,01,03,2021,01,03
4,256,2021-01-04,2782.0,8952.0,NaN,112.0,80.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1,2021,01,04,2021,01,04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378,22583,2022-01-13,1915.0,5871.0,9792.0,341.0,1985.0,10769.0,NaN,NaN,...,NaN,NaN,NaN,1,2022,01,13,2022,01,13
379,22588,2022-01-14,NaN,NaN,NaN,473.0,1584.0,11262.0,NaN,NaN,...,NaN,NaN,NaN,1,2022,01,14,2022,01,14
380,22591,2022-01-15,NaN,NaN,NaN,79.0,95.0,635.0,NaN,NaN,...,NaN,NaN,NaN,1,2022,01,15,2022,01,15
381,22594,2022-01-16,NaN,NaN,NaN,260.0,2419.0,13616.0,1.0,2.0,...,NaN,NaN,NaN,1,2022,01,16,2022,01,16
382,22597,2022-01-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,2022,01,30,2022,01,30

In [414]:
# unfigured problems:::::

huawei_output = huawei_output.iloc[:, :-3]

In [415]:
huawei_output['te_origin_receive'] = huawei_output['te_origin_receive'] + huawei_output['te_product_receive'] 
huawei_output['te_origin_send'] = huawei_output['te_origin_send'] + huawei_output['te_product_send'] 
huawei_output = huawei_output.drop(['te_product_send', 'te_product_receive'], axis = 1)

In [417]:
huawei_output.columns

Index(['index', 'update_date', 'origin_receive', 'origin_send', 'origin_psn',
       'hongmei_receive', 'hongmei_send', 'hongmei_psn', 'pingshan_receive',
       'pingshan_send', 'pearlriver_transport_times',
       'guiyang_transport_times', 't_product_receive', 't_product_clean',
       't_product_send', 'r4_receive', 'r4_send', 'r4_psn', 'nanhua_receive',
       'nanhua_send', 'nanhua_psn', 'anshi_receive', 'anshi_send',
       'anshi_case', 'te_origin_receive', 'te_origin_send', 'pre_receive',
       'pre_withdraw', 'honor_transport_times', 'rn', 'year', 'month', 'date'],
      dtype='object')

In [41]:

"""
ou 和正则匹配
"""
relist = [
        'origi', 
        'hon',  # 20220119 to hongmei
        'pearl', 
        'guiy', 
        '^t\_', 
        'r4\_', 
        'nanh', 
        'ansh', 
        'te\_',
        'pingsha' # 20220119 add
      
    ]

oulist = [
        'HUAWEDHW4S',
        'HONORDGHMS',
        'HUAWEDHWTS',
        'HUAWEDGTRD',
        'HUAWEDGLSS',
        'HUAWEDHW1S',
        'HUAWEDGNHS',
        'NEXPEDGWHS',
        'TYCOTSDXXS',
        'HONORSZIHS'  # 20220119 add
    ]
try:
    del dict 
except:
    pass
dict = dict(zip(relist, oulist))
# re = 'pear'
# pd.Series(huawei_output.columns).str.extract("(" + re + "[a-z]+)").dropna()
dict

{'origi': 'HUAWEDHW4S',
 'hon': 'HONORDGHMS',
 'pearl': 'HUAWEDHWTS',
 'guiy': 'HUAWEDGTRD',
 '^t\\_': 'HUAWEDGLSS',
 'r4\\_': 'HUAWEDHW1S',
 'nanh': 'HUAWEDGNHS',
 'ansh': 'NEXPEDGWHS',
 'te\\_': 'TYCOTSDXXS',
 'pingsha': 'HONORSZIHS'}

In [42]:
huawei_output = huawei_output.drop('index', axis = 1)
huawei_output.columns

Index(['update_date', 'origin_receive', 'origin_send', 'origin_psn',
       'hongmei_receive', 'hongmei_send', 'hongmei_psn', 'pingshan_receive',
       'pingshan_send', 'pearlriver_transport_times',
       'guiyang_transport_times', 't_product_receive', 't_product_clean',
       't_product_send', 'r4_receive', 'r4_send', 'r4_psn', 'nanhua_receive',
       'nanhua_send', 'nanhua_psn', 'anshi_receive', 'anshi_send',
       'anshi_case', 'te_origin_receive', 'te_origin_send', 'pre_receive',
       'pre_withdraw', 'honor_transport_times', 'rn', 'year', 'month', 'date'],
      dtype='object')

In [43]:
pd.concat([huawei_output[search_col(huawei_output, 'hon')] ,
 huawei_output[['update_date', 'year', 'month', 'date']]], axis = 1)

,hongmei_receive,hongmei_send,hongmei_psn,honor_transport_times,update_date,year,month,date
0,0.0,0.0,NaN,NaN,2020-12-31,2020,12,31
1,14.0,0.0,NaN,NaN,2021-01-01,2021,01,01
2,146.0,22.0,NaN,NaN,2021-01-02,2021,01,02
3,176.0,82.0,NaN,NaN,2021-01-03,2021,01,03
4,112.0,80.0,NaN,NaN,2021-01-04,2021,01,04
...,...,...,...,...,...,...,...,...
378,341.0,1985.0,10769.0,NaN,2022-01-13,2022,01,13
379,473.0,1584.0,11262.0,NaN,2022-01-14,2022,01,14
380,79.0,95.0,635.0,NaN,2022-01-15,2022,01,15
381,260.0,2419.0,13616.0,NaN,2022-01-16,2022,01,16
382,NaN,NaN,NaN,NaN,2022-01-30,2022,01,30

In [44]:
def concat_(re, ou):
    huawei_output[search_col(huawei_output, re)].shape
    # n = 4 - huawei_output[search_col(huawei_output, re)].shape[1]
    # m = huawei_output[search_col(huawei_output, re)].shape[0]
    # print(m, n)
    data = pd.concat(
        [
            huawei_output[search_col(huawei_output, re)], 
            # pd.DataFrame(np.zeros(shape=(m, n), dtype=int)),
            huawei_output[['update_date', 'year', 'month', 'date']]
        ]
        , axis = 1).sort_values('update_date')
    # print(data.shape)
    data.columns = list(pd.Series(data.columns).str.extract(
        '(receive|psn|send|transport_times|update_date|year|month|date)'
        )[0])
    try:
        print(data.columns, '\n', data.head(2))
        data = data.rename({np.nan:'addition'}, axis = 1)
    except:
        pass
    data['ou'] = ou
    data['station'] = pd.Series(huawei_output.columns).str.extract("(" + re + "[a-z]+)").dropna().iloc[0,0]
    data['addition_type'] = pd.Series(tran_col).str.extract("(" + re + ".+)").fillna('z').sort_values(0).iloc[0,0]
     
    return data.reset_index(drop=True)

df = pd.DataFrame()
for re in dict:
    print(re, dict[re])
    df = pd.concat([df, concat_(re, dict[re])], axis = 0)

origi HUAWEDHW4S
Index(['receive', 'send', 'psn', 'update_date', 'year', 'month', 'date'], dtype='object')
    receive  send  psn update_date  year month date
0      0.0   0.0  NaN  2020-12-31  2020    12   31
1    117.0  93.0  NaN  2021-01-01  2021    01   01
hon HONORDGHMS
Index(['receive', 'send', 'psn', 'transport_times', 'update_date', 'year',
       'month', 'date'],
      dtype='object')
    receive  send  psn  transport_times update_date  year month date
0      0.0   0.0  NaN              NaN  2020-12-31  2020    12   31
1     14.0   0.0  NaN              NaN  2021-01-01  2021    01   01
pearl HUAWEDHWTS
Index(['transport_times', 'update_date', 'year', 'month', 'date'], dtype='object')
    transport_times update_date  year month date
0              0.0  2020-12-31  2020    12   31
1              0.0  2021-01-01  2021    01   01
guiy HUAWEDGTRD
Index(['transport_times', 'update_date', 'year', 'month', 'date'], dtype='object')
    transport_times update_date  year month date
0              0.0  2020-12-31  2020    12   31
1              0.0  2021-01-01  2021    01   01
^t\_ HUAWEDGLSS
Index(['receive', nan, 'send', 'update_date', 'year', 'month', 'date'], dtype='object')
    receive  NaN  send update_date  year month date
0      0.0  NaN   0.0  2020-12-31  2020    12   31
1      0.0  NaN   0.0  2021-01-01  2021    01   01
r4\_ HUAWEDHW1S
Index(['receive', 'send', 'psn', 'update_date', 'year', 'month', 'date'], dtype='object')
    receive  send  psn update_date  year month date
0      0.0   0.0  0.0  2020-12-31  2020    12   31
1      0.0  42.0  0.0  2021-01-01  2021    01   01
nanh HUAWEDGNHS
Index(['receive', 'send', 'psn', 'update_date', 'year', 'month', 'date'], dtype='object')
    receive  send    psn update_date  year month date
0      0.0   0.0    0.0  2020-12-31  2020    12   31
1      0.0  67.0  680.0  2021-01-01  2021    01   01
ansh NEXPEDGWHS
Index(['receive', 'send', nan, 'update_date', 'year', 'month', 'date'], dtype='object')
    receive      send     NaN update_date  year month date
0      NaN   64118.0     0.0  2020-12-31  2020    12   31
1      NaN  122632.0  3863.0  2021-01-01  2021    01   01
te\_ TYCOTSDXXS
Index(['receive', 'send', 'update_date', 'year', 'month', 'date'], dtype='object')
    receive  send update_date  year month date
0      0.0   0.0  2020-12-31  2020    12   31
1   1356.0   0.0  2021-01-01  2021    01   01
pingsha HONORSZIHS
Index(['receive', 'send', 'update_date', 'year', 'month', 'date'], dtype='object')
    receive  send update_date  year month date
0      NaN   NaN  2020-12-31  2020    12   31
1      NaN   NaN  2021-01-01  2021    01   01

In [45]:
pd.Series(tran_col).str.extract("(" + 'pear' + ".+)").fillna('zull')
# pd.Series(huawei_output.columns).str.extract("(" + 't_' + ".+)").dropna().iloc[0,0]
pd.Series(tran_col).str.extract("(" + 'anshi' + ".+)").fillna('z').sort_values(0).iloc[0,0]

'anshi_case'

In [46]:
def cleanm(df):
    """
    清楚每日填报重复, 时间日期drop, update_date 日期加一以匹配前端.
    """
    df = df.fillna(0).drop_duplicates()
    df['flag_sum'] = df[['receive', 'send', 'psn']].sum(axis =1)
    df = df.sort_values(['update_date', 'ou', 'flag_sum'], ascending=False).groupby(
        [
            'update_date', 'ou'
        ]
        ).first().reset_index()
    try:
        df = df.drop(['year', 'month', 'date', 'flag_sum'], axis = 1)
    except:
        pass

    df['update_date'] = pd.to_datetime(df['update_date']) + timedelta(days = 1)
    df['addition_type'] = df['addition_type'].str.replace('^z', 'None')
    return df

df = cleanm(df)

C:\Users\DSCSHA~1\AppData\Local\Temp/ipykernel_5340/680750927.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  df['addition_type'] = df['addition_type'].str.replace('^z', 'None')

In [47]:
df[['receive', 'send', 'psn', 'transport_times', 'addition']] = df[
        ['receive', 'send', 'psn', 'transport_times', 'addition']
        ].astype(int)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3830 entries, 0 to 3829
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   update_date      3830 non-null   datetime64[ns]
 1   ou               3830 non-null   object
 2   receive          3830 non-null   int32
 3   send             3830 non-null   int32
 4   psn              3830 non-null   int32
 5   station          3830 non-null   object
 6   addition_type    3830 non-null   object
 7   transport_times  3830 non-null   int32
 8   addition         3830 non-null   int32
dtypes: datetime64[ns](1), int32(5), object(3)
memory usage: 194.6+ KB

In [58]:
df.query("update_date == '2021-11-27'")

,update_date,ou,receive,send,psn,station,addition_type,transport_times,addition
3300,2021-11-27,HONORDGHMS,929,3004,11169,hongmei,None,0,0
3301,2021-11-27,HONORSZIHS,0,0,0,pingshan,None,0,0
3302,2021-11-27,HUAWEDGLSS,27539,14410,0,t_product,t_product_clean,0,19530
3303,2021-11-27,HUAWEDGNHS,271,1740,4,nanhua,None,0,0
3304,2021-11-27,HUAWEDGTRD,0,0,0,guiyang,None,1,0
3305,2021-11-27,HUAWEDHW1S,37,30,3,r4_receive,None,0,0
3306,2021-11-27,HUAWEDHW4S,2111,4245,7340,origin,None,0,0
3307,2021-11-27,HUAWEDHWTS,0,0,0,pearlriver,None,5,0
3308,2021-11-27,NEXPEDGWHS,50154,26431,0,anshi,anshi_case,0,2086
3309,2021-11-27,TYCOTSDXXS,8287,1806,0,te_date,None,0,0

In [ ]:
list(pd.Series(huawei_output.columns).str.extract("(" + 'pearl' + "[a-z]+)").dropna()[0])[0]

In [59]:
print('duplicates check',df[df[['update_date', 'ou']].duplicated()].sort_values(['update_date', 'ou']))

duplicates check Empty DataFrame
Columns: [update_date, ou, receive, send, psn, station, addition_type, transport_times, addition]
Index: []

In [60]:
#---

合并工时数据

In [393]:
os.listdir(path)
import warnings
warnings.filterwarnings('ignore')

In [403]:
df2.info

<bound method DataFrame.info of        emp_no emp_name site_name cost_center      dept emp_type mapping_no  \
0     DQ82530      何政贤      安世成品  NEXPEDGWHS       收货组      劳务工  安世 FG收货PQ
1     DQ83357       赵丽     C9原材料  HUAWEDHW4S       PSN      外包工    PSN-原材料
2     DQ83361      高子航        嘉达  HUAWEDHW4S  2#3#1F库房      外包工   按条发货-原材料
3     DQ83444      丁桂芝      安世成品  NEXPEDGWHS       发货组      外包工  安世 FG发货PQ
4     DQ83451      李阳阳        嘉达  HUAWEDHW4S       OQC      外包工   按条发货-原材料
...       ...      ...       ...         ...       ...      ...        ...
7123  XH14095      欧阳汪     C9原材料  HUAWEDHW4S      单板库房      外包工   按条发货-原材料
7124  XH14108      李玉泉     C9原材料  HUAWEDHW4S       GTP      外包工   按条发货-原材料
7125  XH14116      劳兴浩        洪梅  HONORDGHMS        库房      外包工    按条发货-洪梅
7126  XH14117      余书意     C9原材料  HUAWEDHW4S      专属超市      外包工   按条发货-原材料
7127  XH14126      罗梓栋     C9原材料  HUAWEDHW4S       GTP      NaN   按条发货-原材料

     eff_index_name  working_hours        update_date            inc_day
0          安世成品收货人效           10.0           20220111           20220111
1       PSN人效——华为终端           11.0           20220111           20220111
2        发货人效——华为终端           11.5           20220111           20220111
3          安世成品发货人效            8.5           20220111           20220111
4        发货人效——华为终端            0.0           20220111           20220111
...             ...            ...                ...                ...
7123     发货人效——华为终端           12.0  20220119 00:00:00  20220119 00:00:00
7124     发货人效——华为终端            0.0  20220119 00:00:00  20220119 00:00:00
7125       发货人效——洪梅            9.5  20220119 00:00:00  20220119 00:00:00
7126     发货人效——华为终端           12.5  20220119 00:00:00  20220119 00:00:00
7127     发货人效——华为终端            0.0  20220119 00:00:00  20220119 00:00:00

[7128 rows x 11 columns]>

In [455]:
df2 = pd_loaddata.pd_csv(path+'dwd_dsc_huawei_working_hour_dtl_di.csv')
df2 = pd_loaddata.bdp_col(df2)

df2['site_name'] = df2['site_name'].str.replace('嘉达|C9原材料', '华为原材料')
# df2['site_name'] = df2['site_name'].str.replace('嘉达', 'C9原材料')

df3 = df2.groupby(['cost_center', 'mapping_no','update_date', 'site_name']).agg(
    {'working_hours':['sum', 'mean'], 'emp_no' : ['nunique']} 
)
df3.columns = df3.columns.get_level_values(0)
df3 = df3.reset_index()
df3.columns = ['cost_center', 'mapping_no', 'update_date', 'site_name','total_working_hours',
       'mean_working_hours', 'emp_no']
df3['mapping_no'] = df3['mapping_no'].str.replace('——', '-')
df3 = df3[df3['update_date'].apply(lambda x: len(x)) == 8]

types = ['(PS)', '(.+收货)', '(.+发货)', '(.+趟)']
transla = ['PSN', 'received', 'sent', 'transport_times']
try:
    del dict
except:
    pass
dicts = dict(zip(types, transla))

In [456]:
df_out = list()
for i in ['(PS)', '(.+收货)', '(.+发货)', '(.+趟)']:
    df_mid = df3[df3['mapping_no'].str.match(i)]
    df_mid['mapping_no'] = pd.Series(df_mid['mapping_no'].unique()).str.replace(i + '.+', dicts[i])[0]
    df_mid.columns = ['cost_center', 'mapping_no', 'update_date', 'site_name'] + [j + '_' +  df_mid['mapping_no'].str.extract("(" + dicts[i] + ")").iloc[0,0] for j in list(df_mid.columns)[-3:] ]
    df_mid = df_mid.drop('mapping_no', axis = 1)
    df_out.append(df_mid)

In [430]:
# df3[df3['mapping_no'].str.match(i)]
# df3[df3['mapping_no'].str.match('(PSN)')]
# df_out[3]
# df_out

In [457]:
import pandas as pd
from functools import reduce
data_frames = df_out
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['cost_center', 'update_date', 'site_name'],
                                            how='outer'), data_frames)

In [458]:
df_merged['site_name'].unique()

array(['洪梅', '坪山', '华为原材料', 'T园区', '安世成品', '南华', '华技', '顺德', '华为原材料珠三角'],
      dtype=object)

In [460]:
df_merged[df_merged['site_name'] == '华为原材料'] # actually transporting dep.

,cost_center,update_date,site_name,total_working_hours_PSN,mean_working_hours_PSN,emp_no_PSN,total_working_hours_received,mean_working_hours_received,emp_no_received,total_working_hours_sent,mean_working_hours_sent,emp_no_sent,total_working_hours_transport_times,mean_working_hours_transport_times,emp_no_transport_times
18,HUAWEDHW4S,20220111,华为原材料,104.5,11.611111,9.0,414.5,10.628205,39.0,2706.93,10.062937,269.0,NaN,NaN,NaN
19,HUAWEDHW4S,20220112,华为原材料,101.5,11.277778,9.0,373.5,9.576923,39.0,2677.20,9.952416,269.0,NaN,NaN,NaN
20,HUAWEDHW4S,20220113,华为原材料,115.5,12.833333,9.0,381.5,9.782051,39.0,2753.08,10.234498,269.0,NaN,NaN,NaN
21,HUAWEDHW4S,20220114,华为原材料,82.5,9.166667,9.0,381.0,9.769231,39.0,2595.93,9.650297,269.0,NaN,NaN,NaN
22,HUAWEDHW4S,20220115,华为原材料,66.5,7.388889,9.0,363.5,9.320513,39.0,2172.12,8.074796,269.0,NaN,NaN,NaN
23,HUAWEDHW4S,20220116,华为原材料,35.5,3.944444,9.0,119.0,3.051282,39.0,697.50,2.592937,269.0,NaN,NaN,NaN
24,HUAWEDHW4S,20220117,华为原材料,63.0,7.000000,9.0,326.5,8.371795,39.0,2556.10,9.502230,269.0,NaN,NaN,NaN
25,HUAWEDHW4S,20220118,华为原材料,73.0,8.111111,9.0,332.0,8.512821,39.0,2534.93,9.423532,269.0,NaN,NaN,NaN
26,HUAWEDHW4S,20220119,华为原材料,46.0,5.111111,9.0,173.5,4.448718,39.0,1160.22,4.313086,269.0,NaN,NaN,NaN