In [1]:
from fyenn_class import  pd_loaddata, pd, np 
from datetime import datetime, timedelta

path = '../data_down/'
os.listdir(path)

['gar.xlsx',
 'huawei_daily.csv',
 'huawei_output.csv',
 'Outsourcing_Name_List_20220119104910.xlsx',
 '业务量与部门关系表_20220119104837.xlsx',
 '入湖数据关系.csv',
 '入湖数据关系.xlsx']

In [10]:
rel = pd_loaddata.pd_excel(path + '业务量与部门关系表_20220119104837', 0)
ls = pd_loaddata.pd_excel(path + 'Outsourcing_Name_List_20220119104910', 0)
ls = ls.drop(['员工类别', '更新时间'], axis = 1)

csv_read
csv_read

In [13]:
rel.head()

  对应现有看板指标  站点       部门     效率指标名称    OU（成本中心）
0   PSN-坪山  坪山      PSN  PSN人效——坪山  HONORSZIHS
1  按条发货-坪山  坪山       关务   发货人效——坪山  HONORSZIHS
2  按条发货-坪山  坪山       质量   发货人效——坪山  HONORSZIHS
3  按条发货-坪山  坪山       OE   发货人效——坪山  HONORSZIHS
4  按条发货-坪山  坪山  库存组&故障品   发货人效——坪山  HONORSZIHS

In [17]:
df = ls.merge(rel, on = ['站点', '部门'], how = 'outer')

In [27]:
# df = df[~df['姓名'].isna()]
nass = df[df['姓名'].isna()];nass

       工号   姓名   岗位      站点 成本中心         部门  对应现有看板指标      效率指标名称    OU（成本中心）
3418  NaN  NaN  NaN      坪山  NaN         关务   按条发货-坪山    发货人效——坪山  HONORSZIHS
3419  NaN  NaN  NaN      坪山  NaN         OE   按条发货-坪山    发货人效——坪山  HONORSZIHS
3420  NaN  NaN  NaN  嘉达贵安仓配  NaN  贵安仓配3#点料室    贵阳仓配趟数      贵阳仓配人效  HUAWEDGTRD
3421  NaN  NaN  NaN   C9原材料  NaN       终端交付  按条发货-原材料  发货人效——华为终端  HUAWEDHW4S
3422  NaN  NaN  NaN      嘉达  NaN         内控  按条发货-原材料  发货人效——华为终端  HUAWEDHW4S

In [41]:
df[df['站点'] == '嘉达']

,工号,姓名,岗位,站点,成本中心,部门,对应现有看板指标,效率指标名称,OU（成本中心）
761,GB6676,刘涛,NaN,嘉达,HUAWEDHW4S,2#3#1F库房,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S
762,GB6677,王琴,NaN,嘉达,HUAWEDHW4S,2#3#1F库房,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S
763,GB6628,郑威,NaN,嘉达,HUAWEDHW4S,2#3#1F库房,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S
764,GB6622,韩绍彬,NaN,嘉达,HUAWEDHW4S,2#3#1F库房,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S
765,GB6616,李桂华,NaN,嘉达,HUAWEDHW4S,2#3#1F库房,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S
...,...,...,...,...,...,...,...,...,...
1743,DQ83123,李自超,初级仓管员,嘉达,HUAWEDHW4S,3#收货组,NaN,NaN,NaN
1744,DQ83111,罗勤,初级仓管员,嘉达,HUAWEDHW4S,3#收货组,NaN,NaN,NaN
1745,DQ83123,李自超,初级仓管员,嘉达,HUAWEDHW4S,3#收货组,NaN,NaN,NaN
1746,DQ83111,罗勤,初级仓管员,嘉达,HUAWEDHW4S,3#收货组,NaN,NaN,NaN
3422,NaN,NaN,NaN,嘉达,NaN,内控,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S

In [32]:
df[df['效率指标名称'].isna()]['部门'].unique()

array(['黄江成品', '成品', '点料室', nan, '安世原材料', '原材料', '黄江原材料', '库存', 'OQC',
       '二期库房-RTV', '2期库房', '超市', '新入职', 'QC', '否', '收货', '荣耀', '嘉达预配',
       '洪梅', '单板库房', '3#1F', 'LCD', '2#1F收货组', '2#1F库房', 'RTV', '3#2F库房',
       '3#点料室', '3#1F库房', '3#3F库房', '3#收货组', '珠三角3#点料室', '成品质量组', '蓝思',
       '装配', '收货组', '质检', 'FCS', '成品-理货组', '蓝思原材料', '原材料-SMT组', '原材料库存组',
       '成品-收发货', '成品质量组（OQC）', '原材料-预配组', '原材料发料-SMT组', '原材料-装配组',
       '原材料-收货组', '原材料发货-装配组', '质量-彭超组', '取消入职', '蓝思预配', '南华物流园', '数据录入组',
       'D11', 'D11原材料', '原材料-李宁辉组', '质量-任长庭组', '管理组', '成品-陈俊升组',
       '收货-李孝成组', '收货-付太勇组', '成品发货组', '发货组', '离职', '成品质检', '补货组', '质检组',
       '理货组', '原材料收货组', '嘉达预配组', '原材料SMT', '质量组', '原材料-戴林华组'],
      dtype=object)