In [1]:
from fyenn_class import  pd_loaddata, pd, np 
from datetime import datetime, timedelta

path = '../data_down/'
os.listdir(path)

['gar.xlsx',
 'huawei_daily.csv',
 'huawei_output.csv',
 'Outsourcing_Name_List_20220119104910.xlsx',
 '业务量与部门关系表_20220119104837.xlsx',
 '入湖数据关系.csv',
 '入湖数据关系.xlsx']

In [10]:
rel = pd_loaddata.pd_excel(path + '业务量与部门关系表_20220119104837', 0)
ls = pd_loaddata.pd_excel(path + 'Outsourcing_Name_List_20220119104910', 0)
ls = ls.drop(['员工类别', '更新时间'], axis = 1)

csv_read
csv_read

In [13]:
rel.head()

  对应现有看板指标  站点       部门     效率指标名称    OU（成本中心）
0   PSN-坪山  坪山      PSN  PSN人效——坪山  HONORSZIHS
1  按条发货-坪山  坪山       关务   发货人效——坪山  HONORSZIHS
2  按条发货-坪山  坪山       质量   发货人效——坪山  HONORSZIHS
3  按条发货-坪山  坪山       OE   发货人效——坪山  HONORSZIHS
4  按条发货-坪山  坪山  库存组&故障品   发货人效——坪山  HONORSZIHS

In [17]:
df = ls.merge(rel, on = ['站点', '部门'], how = 'outer')

In [27]:
# df = df[~df['姓名'].isna()]
nass = df[df['姓名'].isna()];nass

       工号   姓名   岗位      站点 成本中心         部门  对应现有看板指标      效率指标名称    OU（成本中心）
3418  NaN  NaN  NaN      坪山  NaN         关务   按条发货-坪山    发货人效——坪山  HONORSZIHS
3419  NaN  NaN  NaN      坪山  NaN         OE   按条发货-坪山    发货人效——坪山  HONORSZIHS
3420  NaN  NaN  NaN  嘉达贵安仓配  NaN  贵安仓配3#点料室    贵阳仓配趟数      贵阳仓配人效  HUAWEDGTRD
3421  NaN  NaN  NaN   C9原材料  NaN       终端交付  按条发货-原材料  发货人效——华为终端  HUAWEDHW4S
3422  NaN  NaN  NaN      嘉达  NaN         内控  按条发货-原材料  发货人效——华为终端  HUAWEDHW4S

In [43]:
df

,工号,姓名,岗位,站点,成本中心,部门,对应现有看板指标,效率指标名称,OU（成本中心）
0,GB6635,王曼,NaN,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
1,GB6235,彭礼强,初级仓管员,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
2,GB6138,杨健,初级仓管员,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
3,GB6100,王茜,高级仓管员,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
4,GB5954,王书祥,营运管理助理,安世成品,NEXPEDGWHS,发货组,安世 FG发货PQ,安世成品发货人效,NEXPEDGWHS
...,...,...,...,...,...,...,...,...,...
3418,NaN,NaN,NaN,坪山,NaN,关务,按条发货-坪山,发货人效——坪山,HONORSZIHS
3419,NaN,NaN,NaN,坪山,NaN,OE,按条发货-坪山,发货人效——坪山,HONORSZIHS
3420,NaN,NaN,NaN,嘉达贵安仓配,NaN,贵安仓配3#点料室,贵阳仓配趟数,贵阳仓配人效,HUAWEDGTRD
3421,NaN,NaN,NaN,C9原材料,NaN,终端交付,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S
3422,NaN,NaN,NaN,嘉达,NaN,内控,按条发货-原材料,发货人效——华为终端,HUAWEDHW4S

In [50]:
os.getcwd()

'c:\\Users\\dscshap3808\\Documents\\my_scripts_new\\play11_huawei\\script'

In [51]:
df[df['效率指标名称'].isna()] [['站点', '部门']].drop_duplicates().to_csv('../data_up/no_eff_ind.csv', index = None)

In [ ]:
SELECT  b.emp_name
       ,b.emp_type
       ,b.site_name
       ,b.dept
       ,c.mapping_no
       ,eff_index_name
       ,cost_center
       ,ou_code
FROM dsc_dim.dim_dsc_huawei_os_name_list_rel b
LEFT JOIN
(
	SELECT  mapping_no
	       ,site
	       ,dept
	       ,eff_index_name
	       ,ou_code
	FROM ods_public.huawei_opt_dept_mapping
	WHERE inc_day = '20220118'
	GROUP BY  mapping_no
	         ,site
	         ,dept
	         ,eff_index_name
	         ,ou_code
) c
ON b.cost_center = c.ou_code AND b.site_name = c.site
WHERE inc_day = '20220118'
ORDER BY emp_name